In [3]:
import pandas as pd
from TaxiFareModel.params import BUCKET_NAME, BUCKET_TRAIN_DATA_PATH
nrows = 10000
path = f"gs://{BUCKET_NAME}/{BUCKET_TRAIN_DATA_PATH}"
df = pd.read_csv(path, nrows=nrows)

In [4]:
df.head()

,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2009-06-15 17:26:21.0000001,4.5,2009-06-15 17:26:21 UTC,-73.844311,40.721319,-73.841610,40.712278,1
1,2010-01-05 16:52:16.0000002,16.9,2010-01-05 16:52:16 UTC,-74.016048,40.711303,-73.979268,40.782004,1
2,2011-08-18 00:35:00.00000049,5.7,2011-08-18 00:35:00 UTC,-73.982738,40.761270,-73.991242,40.750562,2
3,2012-04-21 04:30:42.0000001,7.7,2012-04-21 04:30:42 UTC,-73.987130,40.733143,-73.991567,40.758092,1
4,2010-03-09 07:51:00.000000135,5.3,2010-03-09 07:51:00 UTC,-73.968095,40.768008,-73.956655,40.783762,1

In [8]:
data = {
"key":1
"pickup_datetime": "2013-07-06 17:18:00",
"pickup_longitude": "-73.950655",
"pickup_latitude": "40.783282",
"dropoff_longitude": "-73.984365",
"dropoff_latitude": "40.769802",
"passenger_count": "1"
}

In [9]:
data

{'pickup_datetime': '2013-07-06 17:18:00',
 'pickup_longitude': '-73.950655',
 'pickup_latitude': '40.783282',
 'dropoff_longitude': '-73.984365',
 'dropoff_latitude': '40.769802',
 'passenger_count': '1'}

In [19]:
df_pred = pd.DataFrame(data, index=[0])

In [20]:
df_pred

,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2013-07-06 17:18:00,-73.950655,40.783282,-73.984365,40.769802,1

In [23]:
from joblib import load

model = load('/home/danxs/code/Dannxs/TFM_PredictInProd/model.joblib') 

model.predict(df_pred)

ValueError: Number of features of the input must be equal to or greater than that of the fitted transformer. Transformer n_features is 7 and input n_features is 6.